# Python / Virtual Environment
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables (Secrets)
.env

# Streamlit
.streamlit/credentials.toml

# Vector Database (Do not push local vector store to GitHub)
data/chroma_db/
*.sqlite3

# Logs and Dynamic Files
data/logs/

# HuggingFace Caches & Local Models
.cache/

# IDE & Editor files
.vscode/
.cursor/
.idea/
*.swp
*.swo

# Project Temporary/Personal Files
resume.md
